/* Base styles for the badge */
.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: uppercase;
    gap: 8px; /* Space between the icon and label */
    /* DS1/button/xs */
    font-family: var(--font-family-button, "ABCDiatype-Mono", monospace);
    font-size: var(--DS1-font-size-300, 12px);
    font-style: normal;
    font-weight: var(--DS1-font-weight-bold, 700);
    line-height: var(--DS1-font-line-height-400, 16px); /* 133.333% */
  }
  
  /* Badge variants */
  .badge-primary {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill, #000);
    color: var(--color-text-primary-inverse, #FFF);
  }
  
  .badge-primary-inverse {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-inverse, #FFF);
    color: var(--color-text-primary);
  }
  
  .badge-transparent {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-alpha-subtle, rgba(0, 0, 0, 0.04));
    /* DS1/bg-blur/200 */
    backdrop-filter: blur(50px);
    color: var(--color-text-primary);
  }
  
  .badge-accent {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-accent, #B7FF59);
    color: var(--color-text-primary);
  }
  
  .badge-positive {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-positive, #0F851E);
    color: var(--color-text-positive-on-bg-fill);
  }
  
  .badge-positive-subtle {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-positive-subtle);
    color: var(--color-text-positive-on-bg-fill-subtle)
  }
  
  .badge-warning {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-warning);
    color: var(--color-text-warning-on-bg-fill);
  }
  
  .badge-warning-subtle {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-warning-subtle);
    color: var(--color-text-warning-on-bg-fill-subtle)
  }
  
  .badge-negative {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-negative);
    color: var(--color-text-negative-on-bg-fill);
  }
  
  .badge-negative-subtle {
    border-radius: var(--border-radius-badge, 4px);
    background: var(--color-bg-fill-negative-subtle);
    color: var( --color-text-negative-on-bg-fill-subtle)
  }
  
  /* Icon styles */
  .badge-icon {
    font-size: 16px; /* Icon size */
  }
  
  /* Additional spacing styles (if necessary) */
  .badge-small {
    font-size: 12px;
    padding: 4px 8px;
  }
  
  .badge-large {
    font-size: 18px;
    padding: 8px 16px;
  }