.btn {
  border-radius: var(--DS1-border-radius-button, 9999px);
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--font-family-button), "ABCDiatype-Mono", monospace;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--color-bg-fill);
  color: var(--color-text-primary-inverse);
  border: none;
}

.btn-primary-inverse {
    background: var(--color-bg-fill-inverse, #FFF);
    color: var(--color-text-primary);
    border: none;
}   

.btn-secondary {
    border: 1px solid var(--color-border-primary, #A9ABAC);
    background: var(--color-button-secondary-bg-fill, #FFF);
    color: var(--color-text-primary);
}

.btn-negative {
    background: var(--color-negative, #B22115);
    color: var(--color-text-negative-on-bg-fill, #FFF);
    border: none;
}

.btn-accent {
    background: var(--color-accent, #B7FF59);
    color: var(--color-text-accent-on-bg-fill, #000);
    border: none;
}

.btn-large {
  height: 56px;
    /* DS1/button/md */
    font-size: var(--size-400, 16px);
    line-height: var(--DS1-font-line-height-600, 24px); /* 150% */
    padding: 16px 32px;
}

.btn-medium {
    height: 40px;
    /* DS1/button/md */
    font-size: var(--size-400, 12px);
    line-height: var(--DS1-font-line-height-600, 16px); /* 150% */
    padding: 8px 16px;
}

.btn-small {
    height: 32px;
    /* DS1/button/xs */
    font-size: var(--DS1-font-size-300, 12px);
    line-height: var(--DS1-font-line-height-400, 16px); /* 133.333% */
    padding: 8px 16px;
}

.btn-extra-small {
    height: 24px;
    /* DS1/button/xs */
    font-size: var(--DS1-font-size-300, 12px);
    line-height: var(--DS1-font-line-height-400, 16px); /* 133.333% */
    padding: 4px 8px;
}