:root {
  --color-bg-layer-0: #000000;
  --color-bg-layer-0-inverse: #ffffff;
  --color-bg-layer-1: #101114;
  --color-bg-layer-2: #222326;
  --color-bg-layer-overlay: #00000080;
  --color-bg-fill: #ffffff;
  --color-bg-fill-hover: #e8e9e9;
  --color-bg-fill-active: #ffffff;
  --color-bg-fill-press: #ffffff;
  --color-bg-fill-disabled: #ffffff26;
  --color-bg-fill-inverse: #000000;
  --color-bg-fill-inverse-hover: #2c2d30;
  --color-bg-fill-inverse-active: #000000;
  --color-bg-fill-inverse-press: #000000;
  --color-bg-fill-inverse-disabled: #0000001a;
  --color-bg-fill-accent: #e61e4d;
  --color-bg-fill-accent-hover: #e61e4d;
  --color-bg-fill-accent-active: #e61e4d;
  --color-bg-fill-accent-press: #e61e4d;
  --color-bg-fill-accent-subtle: #e61e4d;
  --color-bg-fill-negative: #b22115;
  --color-bg-fill-negative-subtle: #4f0c07;
  --color-bg-fill-negative-hover: #e53c2e;
  --color-bg-fill-negative-press: #90180e;
  --color-bg-fill-warning: #da7805;
  --color-bg-fill-warning-subtle: #5f2a01;
  --color-bg-fill-positive: #0e721b;
  --color-bg-fill-positive-subtle: #052d0a;
  --color-bg-fill-info: #115ccb;
  --color-bg-fill-info-subtle: #062451;
  --color-bg-fill-alpha-subtle: #ffffff26;
  --color-bg-fill-alpha-subtle-hover: #ffffff40;
  --color-bg-fill-alpha-subtle-press: #ffffff0d;
  --color-bg-fill-alpha-inverse-subtle: #00000026;
  --color-bg-fill-alpha-inverse-subtle-hover: #00000040;
  --color-bg-fill-alpha-inverse-subtle-press: #0000000d;
  --color-bg-fill-alpha: #ffffff40;
  --color-bg-fill-alpha-inverse: #00000040;
  --color-bg-fill-alpha-bgblur: #00000040;
  --color-bg-fill-alpha-bgblur-strong: #00000080;
  --color-text-primary: #ffffff;
  --color-text-primary-inverse: #222326;
  --color-text-secondary: #cbcccc;
  --color-text-secondary-inverse: #5b5c5e;
  --color-text-placeholder: #ffffffbf;
  --color-text-placeholder-inverse: #7a7b7d;
  --color-text-disabled: #8f9192;
  --color-text-disabled-inverse: #7a7b7d;
  --color-text-accent: #e61e4d;
  --color-text-accent-on-bg-fill: #ffffff;
  --color-text-negative: #f85d51;
  --color-text-negative-on-bg-fill: #ffffff;
  --color-text-negative-on-bg-fill-subtle: #ffffff;
  --color-text-warning: #faa542;
  --color-text-warning-on-bg-fill: #000000;
  --color-text-warning-on-bg-fill-subtle: #ffffff;
  --color-text-positive: #48cb57;
  --color-text-positive-on-bg-fill: #ffffff;
  --color-text-positive-on-bg-fill-subtle: #ffffff;
  --color-text-info: #7cacf5;
  --color-text-info-on-bg-fill: #ffffff;
  --color-text-info-on-bg-fill-subtle: #ffffff;
  --color-text-link: #ffffff;
  --color-text-link-hover: #e8e9e9;
  --color-text-link-press: #ffffff;
  --color-border-primary: #ffffff40;
  --color-border-primary-hover: #ffffff80;
  --color-border-primary-active: #ffffff;
  --color-border-primary-focus: #2173ee;
  --color-border-primary-disabled: #ffffff26;
  --color-border-secondary: #2c2d30;
  --color-border-negative: #b22115;
  --color-border-warning: #da7805;
  --color-border-positive: #0f851e;
  --color-border-info: #2173ee;
  --color-icon-primary: #ffffff;
  --color-icon-primary-hover: #e8e9e9;
  --color-icon-primary-active: #e8e9e9;
  --color-icon-primary-disabled: #8f9192;
  --color-icon-primary-inverse: #000000;
  --color-icon-primary-inverse-hover: #2c2d30;
  --color-icon-primary-inverse-active: #e8e9e9;
  --color-icon-primary-inverse-disabled: #8f9192;
  --color-icon-secondary: #cbcccc;
  --color-icon-accent-on-bg-fill: #ffffff;
  --color-icon-negative: #f85d51;
  --color-icon-negative-on-bg-fill: #ffffff;
  --color-icon-negative-on-bg-fill-subtle: #ffffff;
  --color-icon-warning: #faa542;
  --color-icon-warning-on-bg-fill: #000000;
  --color-icon-warning-on-bg-fill-subtle: #ffffff;
  --color-icon-positive: #48cb57;
  --color-icon-positive-on-bg-fill: #ffffff;
  --color-icon-positive-on-bg-fill-subtle: #ffffff;
  --color-icon-info: #7cacf5;
  --color-icon-info-on-bg-fill: #ffffff;
  --color-icon-info-on-bg-fill-subtle: #ffffff;
  --color-avatar-bg-fill: #ffffff;
  --color-button-secondary-bg-fill: #00000000;
  --color-button-semi-alpha-bg-fill: #00000040;
  --color-input-bg-fill: #00000000;
  --color-dropdown-bg-fill: #222326;
  --color-dropdown-row-bg-fill-hover: #ffffff1a;
  --color-dropdown-border: #38393c;
  --color-toggle-bg-fill: #ffffff80;
  --color-toggle-bg-fill-active: #0e721b;
  --color-toggle-bg-fill-disabled: #ffffff40;
  --color-toggle-fg-fill: #ffffff;
  --color-toggle-fg-fill-disabled: #ffffff40;
  --color-divider-primary: #ffffff1a;
  --color-divider-primary-inverse: #0000000d;
  --color-do_not_implement-ios-material-1: #ffffff00;
  --color-do_not_implement-ios-material-2: #000000e5;
  --color-progress-positive: #48cb57;
  --color-progress-warning: #faa542;
  --color-progress-negative: #f85d51;
  --color-button-dock-fill-gradient-top: #00000000;
  --color-button-dock-fill-gradient-bottom: #000000;
}
