:root {
  --color-bg-layer-0: #f7f7f7;
  --color-bg-layer-0-inverse: #000000;
  --color-bg-layer-1: #ffffff;
  --color-bg-layer-2: #f7f7f7;
  --color-bg-layer-overlay: #00000080;
  --color-bg-fill: #000000;
  --color-bg-fill-hover: #2c2d30;
  --color-bg-fill-active: #000000;
  --color-bg-fill-press: #000000;
  --color-bg-fill-disabled: #0000001a;
  --color-bg-fill-inverse: #ffffff;
  --color-bg-fill-inverse-hover: #e8e9e9;
  --color-bg-fill-inverse-active: #ffffff;
  --color-bg-fill-inverse-press: #ffffff;
  --color-bg-fill-inverse-disabled: #ffffff26;
  --color-bg-fill-accent: #b7ff59;
  --color-bg-fill-accent-hover: #d9fea9;
  --color-bg-fill-accent-active: #b7ff59;
  --color-bg-fill-accent-press: #b7ff59;
  --color-bg-fill-accent-subtle: #edffd6;
  --color-bg-fill-negative: #b22115;
  --color-bg-fill-negative-subtle: #ffe2df;
  --color-bg-fill-negative-hover: #e53c2e;
  --color-bg-fill-negative-press: #90180e;
  --color-bg-fill-warning: #b75a01;
  --color-bg-fill-warning-subtle: #ffe4c4;
  --color-bg-fill-positive: #0f851e;
  --color-bg-fill-positive-subtle: #cdf1d3;
  --color-bg-fill-info: #115ccb;
  --color-bg-fill-info-subtle: #ddeafd;
  --color-bg-fill-alpha-subtle: #0000000a;
  --color-bg-fill-alpha-subtle-hover: #00000012;
  --color-bg-fill-alpha-subtle-press: #00000017;
  --color-bg-fill-alpha-inverse-subtle: #ffffff0a;
  --color-bg-fill-alpha-inverse-subtle-hover: #ffffff12;
  --color-bg-fill-alpha-inverse-subtle-press: #ffffff17;
  --color-bg-fill-alpha: #0000001a;
  --color-bg-fill-alpha-inverse: #ffffff1a;
  --color-bg-fill-alpha-bgblur: #ffffff80;
  --color-bg-fill-alpha-bgblur-strong: #ffffffbf;
  --color-text-primary: #222326;
  --color-text-primary-inverse: #ffffff;
  --color-text-secondary: #38393c;
  --color-text-secondary-inverse: #a9abac;
  --color-text-placeholder: #000000bf;
  --color-text-placeholder-inverse: #8f9192;
  --color-text-disabled: #7a7b7d;
  --color-text-disabled-inverse: #8f9192;
  --color-text-accent: #b7ff59;
  --color-text-accent-on-bg-fill: #000000;
  --color-text-negative: #b22115;
  --color-text-negative-on-bg-fill: #ffffff;
  --color-text-negative-on-bg-fill-subtle: #90180e;
  --color-text-warning: #974401;
  --color-text-warning-on-bg-fill: #ffffff;
  --color-text-warning-on-bg-fill-subtle: #793601;
  --color-text-positive: #0e721b;
  --color-text-positive-on-bg-fill: #ffffff;
  --color-text-positive-on-bg-fill-subtle: #0a5514;
  --color-text-info: #115ccb;
  --color-text-info-on-bg-fill: #ffffff;
  --color-text-info-on-bg-fill-subtle: #0c4599;
  --color-text-link: #000000;
  --color-text-link-hover: #2c2d30;
  --color-text-link-press: #000000;
  --color-border-primary: #a9abac;
  --color-border-primary-hover: #7a7b7d;
  --color-border-primary-active: #000000;
  --color-border-primary-focus: #115ccb;
  --color-border-primary-disabled: #0000001a;
  --color-border-secondary: #e8e9e9;
  --color-border-negative: #b22115;
  --color-border-warning: #b75a01;
  --color-border-positive: #0e721b;
  --color-border-info: #115ccb;
  --color-icon-primary: #000000;
  --color-icon-primary-hover: #2c2d30;
  --color-icon-primary-active: #000000;
  --color-icon-primary-disabled: #7a7b7d;
  --color-icon-primary-inverse: #ffffff;
  --color-icon-primary-inverse-hover: #e8e9e9;
  --color-icon-primary-inverse-active: #000000;
  --color-icon-primary-inverse-disabled: #7a7b7d;
  --color-icon-secondary: #38393c;
  --color-icon-accent-on-bg-fill: #000000;
  --color-icon-negative: #b22115;
  --color-icon-negative-on-bg-fill: #ffffff;
  --color-icon-negative-on-bg-fill-subtle: #90180e;
  --color-icon-warning: #974401;
  --color-icon-warning-on-bg-fill: #ffffff;
  --color-icon-warning-on-bg-fill-subtle: #793601;
  --color-icon-positive: #0e721b;
  --color-icon-positive-on-bg-fill: #ffffff;
  --color-icon-positive-on-bg-fill-subtle: #0a5514;
  --color-icon-info: #0c4599;
  --color-icon-info-on-bg-fill: #ffffff;
  --color-icon-info-on-bg-fill-subtle: #0c4599;
  --color-avatar-bg-fill: #115ccb;
  --color-button-secondary-bg-fill: #ffffff;
  --color-button-semi-alpha-bg-fill: #ffffff40;
  --color-input-bg-fill: #ffffff;
  --color-dropdown-bg-fill: #ffffff;
  --color-dropdown-row-bg-fill-hover: #f7f7f7;
  --color-dropdown-border: #ffffff00;
  --color-toggle-bg-fill: #00000040;
  --color-toggle-bg-fill-active: #0f851e;
  --color-toggle-bg-fill-disabled: #0000001a;
  --color-toggle-fg-fill: #ffffff;
  --color-toggle-fg-fill-disabled: #ffffff80;
  --color-divider-primary: #0000000d;
  --color-divider-primary-inverse: #ffffff1a;
  --color-do_not_implement-ios-material-1: #ffffffe5;
  --color-do_not_implement-ios-material-2: #00000000;
  --color-progress-positive: #0f851e;
  --color-progress-warning: #b75a01;
  --color-progress-negative: #b22115;
  --color-button-dock-fill-gradient-top: #ffffff00;
  --color-button-dock-fill-gradient-bottom: #ffffff;
}
